
<div class="container">
    <div class="row align-items-start">
        <div class="col-sm">
            <div class="card">
                <div class="head">
                    <div>
                        <h2>1500</h2>
                        <p>Traffic</p>
                    </div>
                    <i class="bx bx-trending-up icon"></i>
                </div>
                <span class="progress" data-value="30%" [style.width]="'30%'"></span>
                <span class="label">30%</span>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="head">
                    <div>
                        <h2>234</h2>
                        <p>Sales</p>
                    </div>
                    <i class="bx bx-trending-down icon down"></i>
                </div>
                <span class="progress" data-value="50%" [style.width]="'50%'"></span>
                <span class="label">50%</span>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="head">
                    <div>
                        <h2>465</h2>
                        <p>PageViews</p>
                    </div>
                    <i class="bx bx-trending-up icon"></i>
                </div>
                <span class="progress" data-value="60%" [style.width]="'60%'"></span>
                <span class="label">60%</span>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="head">
                    <div>
                        <h2>235</h2>
                        <p>Vistors</p>
                    </div>
                    <i class="bx bx-trending-up icon"></i>
                </div>
                <span class="progress" data-value="70%" [style.width]="'70%'"></span>
                <span class="label">70%</span>
            </div>
        </div>
    </div>
</div>